.button {
    color: var(--violet-color);
    background-color: var(--white-color);
    box-shadow: 1px 3px 5px var(--box-shadow-color);
    padding: 13px 63px 16px 64px;
    border-radius: 28px;
    border: none;
    cursor: pointer;

    &:hover {
        color: var(--white-color);
        background-color: var(--soft-magenta);
    }
}