:root {
    --violet-color: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);
    --pink-color: hsl(322, 100%, 66%);
    --box-shadow-color: hsla(0, 0%, 0%, 0.269022);
}

